.toplevel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #996d37 7%, #251812 100%);
  padding: 10px;
}

.logoImg {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100px;
  margin-left: 10px;
  margin-right: 8px;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.navleft {
  display: flex;
  flex: 1;
  align-items: center;
}

.navLink {
  all: unset;
  color: white;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  text-wrap: nowrap;
  gap: 8px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  }

  &:hover {
    color: #e6e6e6;

    &::after {
      width: 80%;
    }
  }

  &.activeLink {
    color: #e6e6e6;
    font-weight: bold;

    &::after {
      width: 80%;
    }
  }

  svg {
    height: 24px;
    width: 24px;
  }
}

.loginLink {
  background-color: #a7370f;
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: darken(#a7370f, 10%);
  }
}

.navright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  color: white;
  margin-right: 2%;
  gap: 16px;
  cursor: pointer;

  p {
    position: relative;
    padding: 8px 0;
    transition: color 0.3s ease;

    &:hover {
      color: #e6e6e6;
    }
  }
}

.logoutButton {
  background-color: #a7370f;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(#a7370f, 10%);
  }
}

.restaurantButton {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: white;
    color: #e1523d;
  }
}
