.pageContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden; 
    font-family: sans-serif;
  }
  
  .leftSide {
    width: 50%;
    background-color: #2a1b0d; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .title {
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .form {
    width: 100%;
    max-width: 400px;
  }
  

  .error,
  .success {
    margin-top: 0.75rem;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .checkboxContainer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .checkbox {
    margin-right: 0.5rem;
  }
  
  .checkboxLabel {
    color: #ffffff;
    font-size: 0.9rem;
  
    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  
  .buttonSubmit {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 48px;
    background: linear-gradient(270deg, #a7370f -5.96%, #551b06 106.42%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: filter 0.3s ease;
  
    &:hover {
      filter: brightness(1.1);
    }
  }
  
  .register {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.85rem;
    color: #ffffff;
  }
  
  .registerLink {
    text-decoration: none;
    color: #a7370f;
  }

  .imageSection {
    flex: 1;
    position: relative;
    background-size: cover;
  }
  
  @media (max-width: 768px) {
    .pageContainer {
      flex-direction: column;
    }
  
    .leftSide,
    .rightSide {
      width: 100%;
      height: auto;
    }
  
    .rightSide {
      min-height: 300px;
    }
  }
  